<div>
	<%= form_for :user, url: '/sessions', method: :post do |f| %>

	  <label for="phone_number">Phone</label>
	  <%= f.text_field :phone_number %>
	  <%= f.submit "Submit", class: "", id: 'loginButton' %>
	<% end %>

</div>

