<div class="mapbox" id="map">


<h1>Simplify Local</h1>


</div>
<!-- mapbox css -->
<link type="text/css" rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox.js/v2.0.0/mapbox.css">


<!-- mapbox js -->
<script type="text/javascript" src='https://api.tiles.mapbox.com/mapbox.js/v2.0.0/mapbox.js'>
</script>
