

<script type="text/javascript"
        src="https://www.simplify.com/commerce/simplify.pay.js"></script>
<button data-sc-key="sbpb_Y2NiZjE4YTQtMDQ2My00YTQ0LWFmYjEtZWI4NzY2Zjc1YTFi"
        data-name="Jasmine Green Tea"
        data-description="Smooth tea with a rich jasmine bouquet"
        data-reference="99999"
        data-amount="3000"
        data-color="#12B830">
        Buy Now
</button>