<div class="container">
  <div class="row">
    <div class="col-8-xs col-xs-offset-1">
      <br>
      <br>
      <br>
      <h1>About Simplify Local <br><small>Invest in your neighborhood</small></h1>
      <hr>
      <br>
      <p>
        Simplify Local is a way for people to find and support locally owned businesses near them. This is a demo application that earned a Top 6 Finalist place at the 2015 Mastercard Master’s of Code Global Hackathon in San Francisco.
      </p>
      <br>
      <p>
        <strong>Development Team:</strong> Josh Baker, Zoe Foss, Brennan Gamwell, Jon Harlan, and Greg Onza. 
      </p>
      <br>
      <p>
        <strong>Technologies Used:</strong> Ruby on Rails; AJAX; jQuery; Mapbox API; Bcrypt; HTML5 Geolocation; Mastercard Simplify Commerce API (payment processing); Groupon API 
      </p>
      <p>
        <a href="https://github.com/zoejf/simplify-local">See it on Github</a> 
      </p>
      <p>
        Local business and featured product data is currently being pulled from the Groupon web site. We plan to incorporate the Groupon API in order to get the most up-to-date business information.
      </p>
      <p>
        Our other goals for the future would be to create a more curated collection of verified local businesses. We would partner with local businesses that want their products featured on the site and allow them to add featured products themselves.
      </p>
    </div>
  </div>
</div>