// Place all the styles related to the businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-image {
  height: 150px;
  width: 150px;
}

.product-preview button {
	padding: 5px;
	background-color: transparent;
	border-color: transparent;
	
}
