.mapbox {
	height: 100%;
	width: 100%;
}

#map {
	position: fixed;
	z-index: -1;
}

#biz {
	 	margin: auto;
    width: 78%;
    border:3px solid #8AC007;
    padding: 10px;
}

#bizName {
	 	text-align: center;
    width: 75%;
    font-size: 14px;
}

button#refresh {
	z-index:1;
	float: right;
	background-color: #ced3d4;
	margin: 10px;
	box-shadow: 2px 2px;
	font-color: #001F5C;
	font-size: 18px;	
}

