.navbar {
  margin-bottom: 0;
  background-color: rgba(208,208,208,0.5);
}
.dropdown {
  box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px;
}
.categories {
  float: right;
  margin-top: 70px;
/*  margin-right: 30px;*/
}
.navbar-inner {
  background:transparent;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: transparent;
  color: white;
}
.nav a, .nav a:focus, .nav a:hover {
  background-color: transparent;
  color: black;
}
.nav>li>a:focus, .nav>li>a:hover {
  background-color: transparent;
  color: white;
}
#banner button {
  margin-top: -5px;
  margin-right: 20px;
}